sudo: required
dist: bionic
language: generic
services:
  - docker

env:
  - RELEASE_DIST=stretch RELEASE_DATE=2019-04-09
  - RELEASE_DIST=buster RELEASE_DATE=2019-07-12

before_script:
  - docker pull sfalexrog/qemu-register:v4.1.0
script:
  - docker run --rm --privileged sfalexrog/qemu-register:v4.1.0
  - sudo ./build-raspbian.sh
  - docker run --rm "sfalexrog/raspbian:${RELEASE_DIST}" /bin/sh -c "echo 'Hello from Raspbian'; uname -a"
after_script:
  - >
    if [ "${TRAVIS_BRANCH}" == "master"]; then
      echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      docker tag "sfalexrog/raspbian:${RELEASE_DIST}" "sfalexrog/raspbian:${RELEASE_DIST}-${RELEASE_DATE}"
      docker push "sfalexrog/raspbian:${RELEASE_DIST}"
      docker push "sfalexrog/raspbian:${RELEASE_DIST}-${RELEASE_DATE}"
    fi
